jsons/flows.json
[
    {
        "id": "a878fc70eb6175cd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f1afb0fc02a882e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea4fecba3625bfb6",
        "type": "mqtt-broker",
        "name": "TP",
        "broker": "10.8.128.250",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "spbv1.0/ESIEA/DBIRTH/raspberry/device-grp15",
        "birthQos": "0",
        "birthPayload": "up",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c3065eb3fbe3a2d2",
        "type": "protobuf-file",
        "protopath": "C:\\Users\\Flor1\\OneDrive\\Documents\\type.proto",
        "watchFile": true,
        "keepCase": false
    },
    {
        "id": "682506897b7e0501",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.8.128.239",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "be67cfa951a35d88",
        "type": "mqtt-sparkplug-broker",
        "name": "",
        "deviceGroup": "",
        "eonName": "",
        "broker": "10.8.128.239",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "enableStoreForward": false,
        "compressAlgorithm": "",
        "aliasMetrics": false,
        "primaryScada": ""
    },
    {
        "id": "280ae358f743e9a0",
        "type": "mqtt-sparkplug-broker",
        "name": "Tp",
        "deviceGroup": "",
        "eonName": "",
        "broker": "10.8.128.250",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "enableStoreForward": false,
        "compressAlgorithm": "",
        "aliasMetrics": false,
        "primaryScada": ""
    },
    {
        "id": "d1a6623cb44a3219",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7d5c1625100f67a0",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6afb43029d834a3f",
        "type": "ui_group",
        "name": "Default",
        "tab": "d1a6623cb44a3219",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ca4d5525fb504f2b",
        "type": "link in",
        "z": "a878fc70eb6175cd",
        "name": "link in 1",
        "links": [],
        "x": 95,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9913e38cb5b4e2f3",
        "type": "mqtt in",
        "z": "a878fc70eb6175cd",
        "name": "tp",
        "topic": "ESIEA/grp15",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ea4fecba3625bfb6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 340,
        "wires": [
            [
                "89ef180feabbc957"
            ]
        ]
    },
    {
        "id": "6302cf3cbc2802f6",
        "type": "json",
        "z": "a878fc70eb6175cd",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "0d3674a18f52e154"
            ]
        ]
    },
    {
        "id": "0d3674a18f52e154",
        "type": "function",
        "z": "a878fc70eb6175cd",
        "name": "function 1",
        "func": "var test=Object.entries(msg.payload)\nmsg.payload = []\nvar metrics = []\nfor (var ele in test) {\n    metrics.push(\n        {\n            \"name\": test[ele][0],\n            \"alias\": 1,\n            \"datatype\": 12,\n            \"floatValue\": test[ele][1]\n        }\n    )\n    msg.payload.push({ metrics})\n}\nmsg.payload = { metrics: metrics, \"seq\": 0 }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 340,
        "wires": [
            [
                "5e133b5419d5e986",
                "f572c660990e0534"
            ]
        ]
    },
    {
        "id": "5e133b5419d5e986",
        "type": "encode",
        "z": "a878fc70eb6175cd",
        "name": "",
        "protofile": "c3065eb3fbe3a2d2",
        "protoType": "Payload",
        "x": 660,
        "y": 340,
        "wires": [
            [
                "52e103e4da5211b1",
                "eba06e1458860f87"
            ]
        ]
    },
    {
        "id": "eba06e1458860f87",
        "type": "decode",
        "z": "a878fc70eb6175cd",
        "name": "",
        "protofile": "c3065eb3fbe3a2d2",
        "protoType": "Payload",
        "x": 820,
        "y": 400,
        "wires": [
            [
                "2cc873ffe589aca9"
            ]
        ]
    },
    {
        "id": "89ef180feabbc957",
        "type": "function",
        "z": "a878fc70eb6175cd",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 340,
        "wires": [
            [
                "6302cf3cbc2802f6"
            ]
        ]
    },
    {
        "id": "2cc873ffe589aca9",
        "type": "debug",
        "z": "a878fc70eb6175cd",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 400,
        "wires": []
    },
    {
        "id": "52e103e4da5211b1",
        "type": "mqtt out",
        "z": "a878fc70eb6175cd",
        "name": "Ignition",
        "topic": "spbv1.0/ESIEA/DDATA/raspberry/device-grp15",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ea4fecba3625bfb6",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "f572c660990e0534",
        "type": "debug",
        "z": "a878fc70eb6175cd",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "9da8b86627841720",
        "type": "inject",
        "z": "a878fc70eb6175cd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "47346edf2d374eb5"
            ]
        ]
    },
    {
        "id": "47346edf2d374eb5",
        "type": "file in",
        "z": "a878fc70eb6175cd",
        "name": "",
        "filename": "C:\\Users\\Flor1\\OneDrive\\Documents\\Industrie.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 490,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "586ed81d2f23dcbd",
        "type": "mqtt in",
        "z": "0f1afb0fc02a882e",
        "name": "",
        "topic": "spbv1.0/ESIEA/DDATA/raspberry/device-grp15",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ea4fecba3625bfb6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 140,
        "wires": [
            [
                "98e9e4f002685622"
            ]
        ]
    },
    {
        "id": "98e9e4f002685622",
        "type": "decode",
        "z": "0f1afb0fc02a882e",
        "name": "",
        "protofile": "c3065eb3fbe3a2d2",
        "protoType": "Payload",
        "x": 640,
        "y": 140,
        "wires": [
            [
                "6afbc8c16bec8d40"
            ]
        ]
    },
    {
        "id": "164f918cb3a76d60",
        "type": "debug",
        "z": "0f1afb0fc02a882e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 140,
        "wires": []
    },
    {
        "id": "e87aca945ef22b7b",
        "type": "ui_chart",
        "z": "0f1afb0fc02a882e",
        "name": "",
        "group": "6afb43029d834a3f",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6afbc8c16bec8d40",
        "type": "function",
        "z": "0f1afb0fc02a882e",
        "name": "function 3",
        "func": "msg.payload = [{\n    \"series\": [msg.payload[\"metrics\"][0][\"name\"]],\n    \"data\": [\n             [ msg.payload[\"metrics\"][0][\"floatValue\"]]\n        ],\n    \"labels\": [msg.payload[\"metrics\"][0][\"name\"]]\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 60,
        "wires": [
            [
                "164f918cb3a76d60",
                "e87aca945ef22b7b"
            ]
        ]
    }
]
